@import "/var/www/qicmis-project/cdn/cdn/static/mixin-variables/qicmis-variables";

/*Open Sans*/
@font-face {
  font-family: 'OpenSansLight';
  src: url('#{$cdn-fonts-path}/open-sans/open-sans-light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}