{% extends "base.html" %}
{% block fromblock %}
    <form class="form-group" action="{{ url_for('sales_create', product_id=data_id) }}" method="post">
        {% for field in form %}
            <div class="form-group">
                {{ field.label }}
                {{ field(class="form-control") }}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
    <script>
        document.getElementById("sales_date").classList.add('dtpick');
    </script>
{% endblock %}


